.headerStyleItems{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  gap: 200px;
  background-color: beige;
}


.headerStyleItems:hover{
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  gap: 200px;
  background-color: rgb(247, 247, 175);
}

.headerStyleItemsDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.headerStyleItemsChangeUp{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: larger;
  width: 200px;
}


.underHeaderItems:hover{
  cursor: pointer;
  text-decoration: underline;
}

.ChaptersContainer{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 160px;
  border-radius: 20px;
}
.ChaptersContainer:hover{
  display: flex;
  background-color: beige;
}